body.blocksolid-overlay .editor-styles-wrapper {
	background: #fff!important;
	color: #000;
	letter-spacing: -0.015em;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	padding: 20px!important;
}

body.blocksolid-overlay .editor-styles-wrapper > * {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 18px;
}

@supports ( font-variation-settings: normal ) {
	body.blocksolid-overlay .editor-styles-wrapper > * {
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	}
}

body.blocksolid-overlay .editor-styles-wrapper p {
    font-size: 14px!important;
}

body.blocksolid-overlay .block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	color: inherit;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: inherit;
}

body.blocksolid-overlay .wp-block {
	outline: 1px dashed #bbb;
	outline-offset: -1px;
	transition: all 0.3s ease-in-out!important;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	/*max-width: 1200px;*/
}

body.blocksolid-overlay .wp-block:hover {
	outline: 1px dotted #000;
}

/* Width of "full-wide" blocks */
body.blocksolid-overlay .wp-block[data-align="full"] {
	max-width: none;
}

body.blocksolid-overlay .wp-block-columns {
	outline: none;
	background: #fff;
	/*padding: 10px 0!important;*/
	transition: all 0.3s ease-in-out!important;
	background-color: #f1f1f1;
}

body.blocksolid-overlay div.edit-post-visual-editor.editor-styles-wrapper > div.block-editor__typewriter > div > div.block-editor-writing-flow > div > div > div > div > .wp-block-columns {
    margin-bottom: 70px;
}

body.blocksolid-overlay .wp-block-columns:hover {
	outline: none;
	background-color: #eee;
}

body.blocksolid-overlay .wp-block-columns:before {
	content: "";
	position: absolute;
	top: -9px;
	left: 20px;
	bottom: 0;
	right: auto;
	z-index: 31;
	width:30px;
	height:10px;
	display: block;
	border-top: 10px solid #ccc;
	cursor: pointer;
	transition: all 0.3s ease-in-out!important;
}

body.blocksolid-overlay .wp-block-columns:hover:before {
	border-top: 10px solid #bbb;
}

body.blocksolid-overlay .wp-block-columns:focus:before,
body.blocksolid-overlay .wp-block-columns.is-selected:before {
	border-top: 10px solid #007cba;
}

body.blocksolid-overlay .wp-block-columns > .wp-block-column {
	outline: 2px solid #ccc;
	margin: 0;
	padding: 20px;
	transition: all 0.3s ease-in-out!important;
	background-color: #fff;
}

body.blocksolid-overlay .wp-block-columns > .wp-block-column:hover {
	outline: 2px solid #66b0d6;
}

body.blocksolid-overlay .wp-block-columns > .wp-block-column:focus,
body.blocksolid-overlay .wp-block-columns > .wp-block-column.is-selected {
	outline: 2px solid #007cba!important;
}

body.blocksolid-overlay .wp-block-column:before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -10px;
    right: auto;
    z-index: 30;
    width: 30px;
    height: 10px;
    display: block;
    border-top: 10px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease-in-out!important;
}

body.blocksolid-overlay .wp-block-column:hover:before {
	border-top: 10px solid #66b0d6;
}

body.blocksolid-overlay .wp-block-column:focus:before,
body.blocksolid-overlay .wp-block-columns > .wp-block-column.is-selected:before {
	border-top: 10px solid #007cba;
}

body.blocksolid-overlay .wp-block.editor-post-title__block {
	max-width: 100%;
	background: #fff;
}

body.blocksolid-overlay .editor-styles-wrapper .wp-block.editor-post-title__block {
	border-bottom: none!important;
}

body.blocksolid-overlay .wp-block-freeform.block-library-rich-text__tinymce {
	padding: 20px;
}

body.blocksolid-overlay .wp-block-freeform.block-library-rich-text__tinymce li,
body.blocksolid-overlay .wp-block-freeform.block-library-rich-text__tinymce p {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: inherit;
	line-height: 1.4;
	font-size: 14px;
	letter-spacing: 0;
}

body.blocksolid-overlay div.edit-post-visual-editor__post-title-wrapper div.wp-block.editor-post-title.editor-post-title__block label.components-visually-hidden {
	clip: inherit;
	-webkit-clip-path: inherit;
	clip-path: inherit;
	overflow: inherit;
	position: inherit;
	width: inherit;
	text-align: center;
	display: inline-block!important;
	margin: 0!important;
	padding: 9px 0 0 20px;
	height: auto!important;
}

body.blocksolid-overlay div.edit-post-visual-editor__post-title-wrapper > h1,
body.blocksolid-overlay .editor-post-title .editor-post-title__input,
body.blocksolid-overlay div.edit-post-visual-editor__post-title-wrapper div.wp-block.editor-post-title.editor-post-title__block textarea#post-title-0.editor-post-title__input {
	font-size: 16px!important;
	font-weight: normal;
	width: 80%;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

body.blocksolid-overlay .edit-post-visual-editor__post-title-wrapper {
	margin-top:0!important;
}

body.blocksolid-overlay .edit-post-visual-editor__post-title-wrapper .editor-post-title {
	margin: 0 0 20px 0!important;
	padding: 10px!important;
}

body.blocksolid-overlay .editor-styles-wrapper .wp-block h1 {
	font-size: 2.2em;
}

body.blocksolid-overlay .editor-styles-wrapper .wp-block h2 {
	font-size: 1.8em;
}

body.blocksolid-overlay .editor-styles-wrapper .wp-block h3 {
	font-size: 1.6em;
}

body.blocksolid-overlay .editor-styles-wrapper .wp-block h4 {
	font-size: 1.4em;
}

body.blocksolid-overlay .editor-styles-wrapper .wp-block h5 {
	font-size: 1.2em;
}

body.blocksolid-overlay .editor-styles-wrapper .wp-block h6 {
	font-size: 1.0em;
	text-transform: none;
}

body.blocksolid-overlay .editor-styles-wrapper .wp-block h1 strong,
body.blocksolid-overlay .editor-styles-wrapper .wp-block h2 strong,
body.blocksolid-overlay .editor-styles-wrapper .wp-block h3 strong,
body.blocksolid-overlay .editor-styles-wrapper .wp-block h4 strong,
body.blocksolid-overlay .editor-styles-wrapper .wp-block h5 strong,
body.blocksolid-overlay .editor-styles-wrapper .wp-block h6 strong {
	font-weight: 800;
}

body.blocksolid-overlay .wp-block-spacer {
    background: repeating-linear-gradient(
        45deg,
        #efefef,
        #efefef 10px,
        #fefefe 10px,
        #fefefe 20px
    );
}

body.blocksolid-overlay .edit-post-visual-editor .block-library-block__reusable-block-container .block-editor-writing-flow__click-redirect {
	min-height: auto!important;
	display: none;
}

body.blocksolid-overlay .reusable-block-edit-panel {
	display: none!important;
}

body.blocksolid-overlay .edit-post-visual-editor .block-library-block__reusable-block-container .wp-block-column:before {
    display: none;
}

body.blocksolid-overlay .edit-post-visual-editor .block-library-block__reusable-block-container .block-editor-rich-text__editable.block-editor-block-list__block.wp-block.rich-text {
    display: none;
}

body.blocksolid-overlay .wp-block-button__link {
    background-color: #2a7dbc;
    font-size: 0.8em;
    padding: .334em 1.333em;
}

body.blocksolid-overlay .block-editor-link-control {
	min-width: auto;
}

/* Stop white text disappearing */
:root .editor-styles-wrapper .has-white-color {
    color: #000!important;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

body.blocksolid-overlay .editor-styles-wrapper .wp-block-columns.row-disabled {
    opacity: 0.5;
}

body.blocksolid-overlay .editor-styles-wrapper .wp-block-columns.stretch-row {
	box-shadow: 100px 0 0 0 rgba(221, 221, 221, 0.7), -100px 0 0 0 rgba(221, 221, 221, 0.7);
}

body.blocksolid-overlay .editor-post-featured-image__preview {
	height: 100px;
	background: #eee;;
}

body.blocksolid-overlay .editor-post-featured-image__preview .components-responsive-wrapper__content {
	max-height: 100px;
}

body.blocksolid-overlay .wp-block-columns.has-background {
	padding: inherit;
}

body.blocksolid-overlay .wp-block-columns.background-image-present:before,
body.blocksolid-overlay .wp-block-column.background-image-present:before {
    border-top: 10px solid #95ca24;
}

body.blocksolid-overlay .wp-block-columns.background-image-present.is-selected:before,
body.blocksolid-overlay .wp-block-column.background-image-present.is-selected:before {
    border-top: 10px solid #68ad0a;
}

body.blocksolid-overlay .wp-block-columns > .wp-block-column > .wp-block-columns.are-vertically-aligned-center {
	margin-left: auto;
	margin-right: auto;
}

body.blocksolid-overlay .components-button.block-list-appender__toggle.block-editor-button-block-appender svg {
	overflow: inherit;
}

body.blocksolid-overlay .block-library-classic__toolbar {
	background: #89b423;
}

body.blocksolid-overlay .block-library-classic__toolbar:empty:before {
	color: #fff;
}

body.blocksolid-overlay .block-library-classic__toolbar:empty {
 	background: #9ACA28;
}

body.blocksolid-overlay figure.wp-block-image {
	background-color: #efefef;
}

/* ACF -------------------------------------------------------------------------------------------------------------------------------------- */
/* Stop top of fields being hidden in editor */
body.blocksolid-overlay #editor > div > div > div.components-navigate-regions > div > div.interface-interface-skeleton__editor > div.interface-interface-skeleton__body > div.interface-interface-skeleton__content > div.edit-post-layout__metaboxes {
	padding-bottom: 26px;
}
