/* WordPress 6 - restore the default column margins in the front-end */

@media (max-width: 599px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
        flex-basis: 100% !important;
    }
}
@media (min-width: 600px) and (max-width: 781px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:only-child) {
        flex-basis: calc(50% - calc(var(--wp--style--block-gap, 2em) / 2)) !important;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:nth-child(even) {
        margin-left: var(--wp--style--block-gap, 2em);
    }
}
@media (min-width: 782px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
        margin-left: var(--wp--style--block-gap, 2em);
    }
}